<div class=" bg-dark hero-header mb-5">
    <div class=" my-5">
        <div class="row" style="margin-top: 48px;">
            <div class="col-lg-6 text-center" style="margin-top: 15px;">

                <img src="/assets/Check.png" alt="Check">

            </div>
            <div class="col-lg-6 text-lg-start">

                <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                    <h1 class="text-white mb-4"> Проверка кассового чека</h1>


                    <p> Проверка чека онлайн - это сервис проверки кассовых чеков, который позволяет получить
                        подробную
                        информацию о покупке, проверяет легальность кассового чека и добросовестность продавца.</p>
                    <p> Имея на руках кассовый чек, покупатель может легко его проверить. Для этого необходимо
                        ввести
                        данные кассового чека в специальные поля "Номер чека" и
                        отправить запрос на его проверку. Получив данные кассового чека, сервис отобразит результат.
                    </p>
                    <p>Используя сервис вы сможете контролировать и вести учет расходов, иметь подтверждение покупки
                        (случай гарантии или возврата товара), планировать будущие траты, и хранить полученные чеки.
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>